
    
.biografia{
    height: 100vh;
    width: 100vw;
}


/* form*/

.login-form-biografia{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    justify-content: center;
}



.login__biografia{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0;
}


.login__biografia img{
    width: 500px;
}


.login__biografia h1{
    color: white;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.9em;
}


.login__input1{
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;    
    
}

.login__button1{
    background-color: #ee665c;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
}

.login__button1:disabled{
  background: #eee;
  color: #aaa;
  cursor: auto;

}

 
 